.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

option {
   text-transform: uppercase;
}

label {
   text-align: center;
}

select {
   border: 1px solid black;
   font-size: 28px;
   width: 50%;
   padding: 3% 0 3% 2%;
   border-radius: 10px;
   color: white;
   background: rgba(0, 0, 0, 0.25);
   border: none;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.submit-section {
   text-align: center;
}

.submit-btn {
   padding: 20px 70px;
}


