.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

// resetting margin and padding
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

h2 {
   text-align: center;
}

p {
  color: black;
  // @include font(14);
  font-size: 14px;
}

ul {
   display: flex;
   justify-content: space-evenly;
}


// resetting image sizing
img {
  width: 100%;
  display: inline-block;
}

// section heights
header, .container, .user-results {
  height: 100vh;
}


