header {
   background-image: url("../assets/brooke-lark-wMzx2nBdeng-unsplash.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.welcome {
   height: 100%;
   width: 70%;
}

.welcome, .header-text {
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header-text {
   background-color: rgba(255, 255, 255, 0.5);
   padding: 30px;
}

p.header {
   font-size: 30px;
   text-align: center;
   color: black;
   padding: 10px 0px;
}

button {
   padding: 10px 35px;
   text-transform: uppercase;
   background: white;
   border: none;
   border-radius: 10px;
   margin-top: 10px;
   background-color: #93ab9482;
   &:hover {
      transition: all .2s ease-in-out;
      box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
      transform: scale(1);
      }
}