header {
   background-image: url("../assets/brooke-lark-wMzx2nBdeng-unsplash.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.welcome {
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
   font-family: $secondaryFont;
}

p.header {
   font-size: 30px;
   color: $primaryColor;
   text-align: center;
}