header {
   background-image: url("../assets/brooke-lark-wMzx2nBdeng-unsplash.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   p {
      font-size: 30px;
      padding: 20px;
      margin: 10px 0;
   }
   p.header{
      margin-bottom: 30px;
   }
}

.welcome {
   height: 100%;
   width: 70%;
}

.welcome, .header-text {
   flex-direction: column;
}

.header-text {
   background-color: rgba(255, 255, 255, 0.5);
   padding: 30px;
}