.user-input-locale-flex {
   flex-wrap: wrap;
}

.area-select {
   text-align: center;
   font-size: 20px;
}

.input-space {
   display: flex;
   flex-direction: column;
}

.right {
   padding-left: 20px;
}

.left {
   padding-right: 20px;
}


p.locale-label {
   text-align: center;
   font-size: 45px;
   padding: 20px;

   &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
   }
}
