.user-input-locale-flex {
   flex-wrap: wrap;
}

.input-space {
   display: flex;
   flex-direction: column;
}

.right {
   padding-left: 20px;
}

.left {
   padding-right: 20px;
}

.input-space label  {
   font-size: 45px;
   padding: 20px;

   &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
   }
}