.user-select .user-results {
   height: 100vh;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h2 {
   text-align: center;
}

select {
   padding: 20px;
   width: 35%;
   border: 1px solid black;
}

label {
   text-align: center;
}

.foodImg {
   width: calc((100%) / 2 );
}

ul {
   display: flex;
}

li {
   list-style: none;
}