@media (max-width: 1000px) {
		.results-box {
		display: flex;
		flex-direction: column;
		margin: 30px;
	}

	.results-image, .results-text {
		width: 100%;
	}

	h3 {
		padding-bottom: 6%;
	}
}

@media (max-width: 900px) {

	select {
		font-size: 2.75vw;
		width: 70%;
	}
	
	.right {
		padding-left: 0px;
	}
	
	.left {
		padding-right: 0px;
	}
}

@media(max-width: 630px) {
	h2 {
		top: 8%;
	}
	
}

@media (max-width: 700px) {
	.result {
		height: 100%;
		display: flex;
		flex-direction: column;
	}


	.left p, .right p {
		text-align: center;
	}

	p.locale-label {
    font-size: 8vw;
	}
}

@media (max-width: 480px) {
	p.header {
		font-size: 17px;
	}

	button {
		padding: 10px;
	}

	header .button {
		width: 65%;
		font-size: 20px;
	}

	.input-space label {
		padding: 5px;
	}
}