.placeholder-content {
    overflow: hidden;
    background: #000;
    position: relative;
    
    // Animation
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 10s;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8; // Fallback
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
}

@keyframes placeholderAnimate {
    0%{ background-position: -650px 0; }
    100%{ background-position: 650px 0; }
}

//credit: https://codepen.io/MathiasaurusRex/pen/QVRxGw